body {
    margin: 0;
    background-color: #550002;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

.table {
    padding-top: 20px;
    height: 570px;
    width: 100%;
    background-image: url('https://imgur.com/GVH6R3I.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80%;
    margin: 0 auto;
}

#dealer {
    display: flex;
    height: 150px;
    width: 900px;
    margin: 0 auto;
}

#dealer div, #playerHand div {
    background-size: contain;
    width: 100px;
    height: 140px;
}

#playerHand {
    display: flex;
    height: 110px;
    width: 520px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#dealerHand {
    margin-left: 80px;
    min-width: 600px;
}

.message {
    height: 180px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110px;
    font-family: 'Rye', cursive;
    text-shadow: 0 0 15px #550002
}

#in-play-btns, #deal-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    margin: 0 10px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    background-color: beige;
    font-family: 'Fontdiner Swanky', cursive;
}

button:hover {
    box-shadow: 0 0 15px #550002;
    background-color: #529057;
    color: white;
    cursor: pointer;
}

#betButtons {
    height: 50px;
}

.betting {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

#bank, #currentBet {
    width: 225px;
    height: 140px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rye', cursive;
    font-size: 48px;
    border: 10px ridge gold;
}

.card:hover {
    cursor: default;
}

span {
    font-size: 24px;
}